<div class="md-inline-form">
	<div style="width:110%; text-align: center">
		<md-input-container style="width:80%; text-align: left">

			<md-icon md-svg-src="imgs/lockopen.svg" style="width: 24px; height: 24px"></md-icon>
			<label>Activation Code</label>
			<input ng-model="user.title" required>
		</md-input-container>

      <md-button class="md-icon-button test-tooltip" aria-label="Refresh">
        <md-tooltip md-direction="left">You can find the activation code in the description of the transaction we have sent to your bank account</md-tooltip>
        <md-icon md-svg-src="imgs/info_icon2.svg" style="width: 24px; height: 24px"></md-icon>
      </md-button>


	</div>




</div>
<div class="bottom-button-div">
	<button class="quicky-button" ng-click="verify()">ACTIVATE MY QUICKY PLUGIN</md-button>
</div>